<!doctype html>
<head>
    <title>MRWA Test Form</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
</head>
<html>
   <body>
     <main>
        <div class="px-4 py-3 my-2 text-center">
            <img class="d-block mx-auto mb-4" src="{{ url_for('static', filename='images/MRWA JPG.JPG') }}" alt="Main Roads Logo" width="681" height="172"/>
            <!-- <img  src="/docs/5.1/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57"> -->
            <h1 class="display-6 fw-bold">User: {{template_user}}</h1>
            <h1 class="display-6 fw-bold">Project Name: {{template_project}}</h1>
            <h1 class="display-6 fw-bold">Device: {{template_device}}</h1>
            <h1 class="display-6 fw-bold">SIAT Testing</h1>
            <a href="{{ url_for('index') }}" class="btn btn-primary btn-lg px-4 gap-3">Back home</a>
          </div>
          <form method="post" action="{{url_for('add_record_CCTV_SIAT')}}">
            <div class="col-md-6 mx-auto text-center">
                <label for="test_id" class="form-label fw-bold fs-5">Test ID:</label>
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center align-items-center my-1">
                    <input type="text" class="form-control" id="test_id" name="test_id" style="max-width: 256px;">
                  </div>
                                <label for="test_date" class="form-label fw-bold fs-5">Test Date:</label>
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center align-items-center my-1">
                    <input type="text" class="form-control" id="test_date" name="test_date" style="max-width: 256px;">
                  </div>
                <label for="pingable" class="form-label fw-bold fs-5">Pingable:</label>
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center align-items-center my-1">
                    <input type="text" class="form-control" id="pingable" name="pingable" style="max-width: 256px;">
                  </div>
                <label for="ping_latency_expected" class="form-label fw-bold fs-5">Ping latency as expected:</label>
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center align-items-center my-1">
                    <input type="text" class="form-control" id="ping_latency_expected" name="ping_latency_expected" style="max-width: 256px;">
                  </div>
                <label for="ping" class="form-label fw-bold fs-5">Ping stats (ms):</label>
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center align-items-center my-1">
                    <input type="text" class="form-control" id="ping" name="ping" style="max-width: 256px;">
                  </div> 
                <label for="web_access" class="form-label fw-bold fs-5">Web access:</label>
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center align-items-center my-1">
                    <input type="text" class="form-control" id="web_access" name="web_access" style="max-width: 256px;">
                  </div> 
                <label for="FLIR_discover" class="form-label fw-bold fs-5">Discoverable on FLIR:</label>
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center align-items-center my-1">
                    <input type="text" class="form-control" id="FLIR_discover" name="FLIR_discover" style="max-width: 256px;">
                  </div> 
                <label for="video_settings" class="form-label fw-bold fs-5">Video settings:</label>
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center align-items-center my-1">
                    <input type="text" class="form-control" id="video_settings" name="video_settings" style="max-width: 256px;">
                  </div> 
                <label for="focus" class="form-label fw-bold fs-5">Focus:</label>
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center align-items-center my-1">
                    <input type="text" class="form-control" id="focus" name="focus" style="max-width: 256px;">
                  </div> 
                <label for="clean_display" class="form-label fw-bold fs-5">Clean display:</label>
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center align-items-center my-1">
                    <input type="text" class="form-control" id="clean_display" name="clean_display" style="max-width: 256px;">
                  </div> 
                                  <label for="picture_quality" class="form-label fw-bold fs-5">Picture quality:</label>
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center align-items-center my-1">
                    <input type="text" class="form-control" id="picture_quality" name="picture_quality" style="max-width: 256px;">
                  </div> 
                                  <label for="PTZ_function" class="form-label fw-bold fs-5">PTZ function:</label>
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center align-items-center my-1">
                    <input type="text" class="form-control" id="PTZ_function" name="PTZ_function" style="max-width: 256px;">
                  </div> 
                                  <label for="PTZ_privacy" class="form-label fw-bold fs-5">PTZ privacy:</label>
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center align-items-center my-1">
                    <input type="text" class="form-control" id="PTZ_privacy" name="PTZ_privacy" style="max-width: 256px;">
                  </div> 
                                  <label for="washer" class="form-label fw-bold fs-5">Washer:</label>
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center align-items-center my-1">
                    <input type="text" class="form-control" id="washer" name="washer" style="max-width: 256px;">
                  </div> 
                                  <label for="preset" class="form-label fw-bold fs-5">Preset:</label>
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center align-items-center my-1">
                    <input type="text" class="form-control" id="preset" name="preset" style="max-width: 256px;">
                  </div> 
                                  <label for="recording" class="form-label fw-bold fs-5">Recording:</label>
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center align-items-center my-1">
                    <input type="text" class="form-control" id="recording" name="recording" style="max-width: 256px;">
                  </div> 
                                  <label for="webcam_position" class="form-label fw-bold fs-5">Webcam position:</label>
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center align-items-center my-1">
                    <input type="text" class="form-control" id="webcam_position" name="webcam_position" style="max-width: 256px;">
                  </div> 
                                  <label for="firmware_version" class="form-label fw-bold fs-5">Firmware version:</label>
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center align-items-center my-1">
                    <input type="text" class="form-control" id="firmware_version" name="firmware_version" style="max-width: 256px;">
                  </div>                
                  <label for="record_diagnostics" class="form-label fw-bold fs-5">Record diagnostics:</label>
                  <div class="d-grid gap-2 d-sm-flex justify-content-sm-center align-items-center my-1">
                      <input type="text" class="form-control" id="record_diagnostics" name="record_diagnostics" style="max-width: 256px;">
                    </div>       
                    <label for="SIAT_pass" class="form-label fw-bold fs-5">SIAT pass:</label>
                    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center align-items-center my-1">
                        <input type="text" class="form-control" id="SIAT_pass" name="SIAT_pass" style="max-width: 256px;">
                      </div>       
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center my-2">
                  <button type="submit" class="btn btn-primary btn-lg px-4 gap-3">Submit</button>
                </div>            
            </div>
        </form>
     </main>      
   </body>
</html>