<!doctype html>
<head>
    <title>MRWA Test Form</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
</head>
<html>
   <body>
     <main>
        <div class="px-4 py-3 my-2 text-center">
            <img class="d-block mx-auto mb-4" src="{{ url_for('static', filename='images/MRWA JPG.JPG') }}" alt="Main Roads Logo" width="681" height="172"/>
            <h1 class="display-6 fw-bold">Data List</h1>
            <a href="{{ url_for('index') }}" class="btn btn-primary btn-lg px-4 gap-3">Back home</a>
          </div>
          <h1 class="display-6 fw-bold text-center">Devices</h1>
        <ul>
          {% for i in template_devices %}
          <li>{{ ", ".join([
            i.id|string, i.description, i.type,
            i.latitude|string, i.longitude|string, i.project_number|string
        ]) }}</li>
          {% endfor %}
        </ul>
        <h1 class="display-6 fw-bold text-center">CCTV SIAT</h1>
        <ul>
          {% for i in template_cctv_siat %}
          <li>{{ ", ".join([
            i.test_id, i.asset_id|string, i.test_date,
            i.pingable|string, i.ping_latency_expected|string, i.ping|string,
            i.web_access|string, i.FLIR_discover|string, i.video_setting|string, i.focus|string,
            i.clean_display|string, i.picture_quality|string, i.PTZ_function|string, i.PTZ_privacy|string,
            i.washer|string, i.preset|string, i.recording|string, i.webcam_position|string,
            i.firmware_version|string, i.record_diagnostics|string, i.SIAT_pass|string
        ]) }}</li>
          {% endfor %}
        </ul>
     </main>      
   </body>
</html>