<!doctype html>
<head>
    <title>MRWA Test Form</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
</head>
<html>
   <body>
     <main>
        <div class="d-flex flex-row align-items-center position-absolute top-0 end-0 me-3 mt-3 gap-2">
            <img src="{{ url_for('static', filename='images/MRWA JPG.JPG') }}" alt="Main Roads Logo" width="170" height="43"/>
            <p class="mb-0">User {{template_name}}</p>
            <a href="{{ url_for('index') }}" class="btn btn-primary btn-sm">Logout</a>
          </div>
          <form method="post" action="{{url_for('menu')}}">
            <div class="d-flex align-items-center justify-content-center vh-100">
            <div class="col-md-6 mx-auto text-center">
                <label for="proj" class="form-label fw-bold fs-5">Project Number:</label>
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center align-items-center my-1">
                    <input type="text" class="form-control" id="proj" name="proj" style="max-width: 256px;">
                  </div>            
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center my-2">
                  <button type="submit" class="btn btn-primary btn-lg px-4 gap-3">Submit</button>
                </div>
            </div>            
          </div>
        </form>
        <!-- <ul>
          {% for i in devices %}
          <li>{{i.id|string +', ' + i.description +', ' + i.type +', ' + i.latitude|string +', ' + i.longitude|string +', ' + i.project_number|string}}</li>
          {% endfor %}
        </ul> -->
     </main>      
   </body>
</html>