<!doctype html>
<head>
    <title>MRWA Test Form</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
</head>
<html>
   <body>
     <main>
        <div class="px-4 py-3 my-2 text-center">
            <img class="d-block mx-auto mb-4" src="{{ url_for('static', filename='images/MRWA JPG.JPG') }}" alt="Main Roads Logo" width="681" height="172"/>
            <!-- <img  src="/docs/5.1/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57"> -->
            <h1 class="display-6 fw-bold">User: {{template_user}}</h1>
            <h1 class="display-6 fw-bold">Project Name: {{template_project}}</h1>
            <a href="{{ url_for('index') }}" class="btn btn-primary btn-lg px-4 gap-3">Back home</a>
          </div>
          <form method="post">
            <div class="col-md-6 mx-auto text-center">
                <label for="form_function" class="form-label fw-bold fs-5">Function:</label>
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center align-items-center my-1">
                  <button type="submit" formaction="{{ url_for('testing') }}" class="btn btn-outline-primary btn-lg px-4 gap-3">Testing</button>
                  <button type="submit" formaction="{{ url_for('scheduling') }}" class="btn btn-outline-primary btn-lg px-4 gap-3">Scheduling</button>
                  <button type="submit" formaction="{{ url_for('display_tables') }}" class="btn btn-outline-primary btn-lg px-4 gap-3">Review Test Data</button>
                  </div>
                  <input type="hidden" id="form_function" name="form_function" value="">            
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center my-2">
                  <button type="submit" class="btn btn-primary btn-lg px-4 gap-3">Submit</button>
                </div>            
            </div>
        </form>
     </main>      
   </body>
</html>